<html>
  <head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  	<header><img src="header.png"></header>
	<main>
    <h3><a href="main.html" target="INIT">Homepage</a></h3>
    <p><a href="About.html" target="INIT">About me</a></p>
    <p><a href="LIST-OF-ALL-GAMES.html" target="INIT">Games list</a></p>
    <p><a href="todolist.html" target="INIT">To-do list</a></p>
    <div class="divider"></div>
    <p><a href="main.html" target="INIT">others</a></p>
	</main>
</html>