<html>

  <head>
    <meta charset="UTF-8">
    <title>PAGE TITLE</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    
  </head>
  <body>
  
  	<header><img src="header.png"></header>

  	<div class="divider"></div>

	<nav>
		<div id=sidebar><script type="text/javascript" src="sidebar.js"></script></div>
	</nav>

	<main>
		<h1>Some Ways of Displaying Images</h1>

		<div class="container">
			<div class="picture"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Bee_and_flora.jpg/645px-Bee_and_flora.jpg"></div>
			<div class="description">
				<p>Template.</p>
				<p>Text.</p>
			</div>
		</div>

		<br>

		<div class="container">
			<div class="description">
				<p>Three.</p>
			</div>
			<div class="picture"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Bees_%2836126614176%29.jpg"></div>
		</div>

		<br>

		<h2>Edit .gallery img{ height:200px } in style.css to make these thumbnails larger or smaller</h2>
		<div class="gallery">
			<a href="https://upload.wikimedia.org/wikipedia/commons/5/50/Sonntagberg_Basilika_Orgel_03.JPG"><img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Sonntagberg_Basilika_Orgel_03.JPG"></a>
			<a href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Bee_and_flora.jpg/645px-Bee_and_flora.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Bee_and_flora.jpg/645px-Bee_and_flora.jpg"></a>
			<a href="https://upload.wikimedia.org/wikipedia/commons/d/d7/Bees_%2836126614176%29.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Bees_%2836126614176%29.jpg"></a>
			<a href="https://upload.wikimedia.org/wikipedia/commons/b/bc/Bee_Inside_Flower_%28111537915%29.jpeg"><img src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Bee_Inside_Flower_%28111537915%29.jpeg"></a>
			<a href="https://upload.wikimedia.org/wikipedia/commons/8/81/Bee_%289059451710%29.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Bee_%289059451710%29.jpg"></a>
			
		</div>
	</main>
   
   <footer>
   	<br>
     --Site template from <a href="https://templaterr.neocities.org">Templaterr</a>, 2019.--
    </footer>
  </body>

</html>
