<html>
  <head>
    <meta charset="UTF-8">
    <title>List of all the currently catalogued games</title>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  
<header><img src="header.png"></header>
  	
	<main>
		<h1 align=center><br>To be added (currently available in name only)</h1>
			<div class="container">
    		<div class="description2">
    		<p align=center>
    			ATAI NO KEN<br>
          BEAT KOGASA!<br>
          BUNBUN SHINBUN MAI RE - RECOLLECTION OF NEWSPAPER<br>
          DANGEROUS&#9734;PATCHE-SAN MOYA NO TABI 4<br>
          DESTREACTION<br>
          ENDLESS MARISA - SHIROKURO MAHOUTSUKAI KIKIIPPATSU!<br>
          EST<br>
          FULL MOKOU NI SHITEYANYO!<br>
          FUSHIGI NO GENSOUKYOU 2 - MIRACLE &#9734; PARTY<br>
          GENSOU HOUGEKISHI - ART OF CURTAIN FIRE AGGRESSION<br>
          GENSOU NINGYOU ENBU<br>
          GENSOU NO OUKAMI<br>
          GENSOU SHOUJO TAISEN EI<br>
          GENSOU TANSAKU NITROID!<br>
          GENSOUKYOU BOUEIGUN<br>
          GENSOUKYOU OUDAN LUNATIQUIZ<br>
          GENSOUKYOU SHIKI<br>
          GENSOUKYOU TAISEN - EIHANA NO SHOU<br>
          GUNDAN - THE CROWD SHOOTING<br>
          HAN TAMASHII TAKESHI GEICHOU<br>
          I.&#9320; - INTELLIGENT FOOL<br>
          INNIN JICHOU - HAPHAZARD CRIB PARADISE<br>
          ISOGASHII HITO NO TAME NO KOUMAKYOU EXTRA<br>
          KIRISAME ESCAPE<br>
          KIRISAME NOUEN<br>
          KOMEIJI SATORI NO JOUSOU KYOUIKU<br>
          KONAGUSURI NO TATSUJIN<br>
          KOTODAMA YUUGI MOMIPITTAN<br>
          KOUMAJOU DENSETSU I &amp; II PREMIUM PACK<br>
          KOUMAJOU DENSETSU II - YOUGEN NO CHINGONKA<br>
          MAID CRISIS - THE ELEGANT REGION POWER<br>
          MAID SLAYER - THE SOUL OF ELEGANT SKILL<br>
          MARISA TO ARISU<br> 
          MASTER BURNER CLIMAX<br>
          MEGAMARI - MARISA NO YABOU<br> 
          MIN'NA DE AZUMA &#9734; BAN &#9734; SUZUME! - REIMU TO YUKAINA!? NAKAMA-TACHI<br>
          MISUZU TO CHIRUNO NO YOUKAI NO YAMADAI BOUKEN AKUSHONGEMU<br>
          NITTEN EIRO - ASTRONOMICAL FEW MINUTE<br>
          QUARTET X<br>
          RINRIN MAI FUTAKA<br>
          RUBY MOBIUS<br>
          SAKE NO SAKANA NO UTA<br>
          SANAE NO YOUKAI TAIJI SHINAN<br>
          SEIREN - TOUHOU HIJIRI RENBO<br>
          SHANGHAI TO NAZO NO MADOUSHO<br>
          SHIROKURO DAI BATSU CHI<br>
          SORA SUWA<br>
          SUIKA VS MEKA SUIKA - KANKETSUHEN<br> 
          SUPER MARISA WORLD<br>
          SUWAKO-CHAN CUBIC &#8211; THE THIRD DIMENSION INCLUDED SHOOTING GAME<br>
          TASOGARE SAKABA - UWABAMI BREAKERS<br> 
          TOARU TENNYO NO RASEN SENKOU - IKUSANDORIRAA<br> 
          TO HOLE OF HELL<br>
          TOU NO KUNI NO SHUUKAKU SAI<br>
          TOUHOU BAKUSATSUJIN<br>
          TOUHOU BOUSHUEN &#8211; AGE OF ETHANOLS<br>
          TOUHOU FURAN SHUU<br>
          TOUHOU GEKIREN KI<br>
          TOUHOU GENDANSHOU - UNLIMITED HEROES<br>
          TOUHOU GENDANSHOU X - UNLIMITED HEROES<br>
          TOUHOU GENDANSHOU Y - UNLIMITED HEROES<br>
          TOUHOU J.RPG<br>
          TOUHOU KATSUGEKI KIDAN DAI SAN MAKU<br>
          TOUHOU KOUHENTAN - ACCIDENT OUTSIDE WALL<br>
          TOUHOU MADANZAN - UNBELIEVED HEROES<br> 
          TOUHOU MADANZAN 2ND - UNBELIEVED HEROES<br>
          TOUHOU MEISUISHU - RESURRECTION OF HEAVEN LIQUOR<br>
          TOUHOU NO MEIKYUU - GENSOKYO TO TENNUKI NO DAIJU<br>
          TOUHOU REKKADEN &#8211; RIFT IN A FRIENDSHIP GAME<br>
          TOUHOU SENJUTSUSEI GAIDEN - IMACHIYUA SAGA<br>
          TOUHOU SENKITAN - DRUNKTANKIES BATTLE IN THE EASTERN<br>
          TOUHOU SENRANKAN - MARISA NO SHO - MAKE OF BREAK OVERROAD<br>
          TOUHOU SUISHOUGUU - CRYSTALLIZED MYTHOLOGY<br>
          TSUZUKI SONO HIGURASHI NO NAKU KORONI VS TOUHOU UNIVERSE 2<br>
          YIE AR MEIRIIIIN!!<br>
          ZOROZORO WARS<br>
        </p>
      </div>
    </div>
	</main>
</html>